# Tools, notes, outputs
__*.*
__*

# Visual Studio
*.suo
*.vbproj.user
bin/
obj/
Debug/
Release/

# Snap backups
*.7z

Water Utilities Desktop Tools/WaterUtilitiesDesktopAddIn/WaterUtilitiesDesktopAddIn.csproj
*.csproj
Water Utilities Desktop Tools/WaterUtilitiesDesktopFunctions/UtilitiesDesktopFunctions.csproj
Water Utilities Desktop Tools/WaterUtilitiesDesktopFunctions/UtilitiesDesktopFunctions.csproj
Water Utilities Desktop Tools/WaterUtilitiesDesktopFunctions/UtilitiesDesktopFunctions10_1.csproj
