<?xml version="1.0" encoding="utf-8"?>
<!--
 |  Version 2.18.16
 | Copyright 2016 Esri
 |
 | Licensed under the Apache License, Version 2.0 (the "License");
 | you may not use this file except in compliance with the License.
 | You may obtain a copy of the License at
 |
 |    http://www.apache.org/licenses/LICENSE-2.0
 |
 | Unless required by applicable law or agreed to in writing, software
 | distributed under the License is distributed on an "AS IS" BASIS,
 | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 | See the License for the specific language governing permissions and
 | limitations under the License.
-->


<configuration>
  <Name>Gas Release</Name>
  <appSettings>
    <!--Determines if the connection check will evaluate feature not on and off because of scale dependency-->
    <add key="ConnectionChecker_CheckOnlyVisibleLayers" value="false" />

    <!--Use by the Rotate Selected features tool and entry in the Attribute Assistant. This will allow a point to look at a line and spin to match a change in the value of the field below-->
    <add key="RotateSelected_DiameterFieldName" value="DIAMETER" />

    <!--Add additional spin to the angle from the intersected line, useful if you created you symbols on a different access-->
    <add key="RotateSelected_SpinAngle" value="0" />

    <!--Add additional spin tool value-->
    <add key="AdditionalRotate_SpinAngle" value="45" />

    <!--Option to suspend the Attribute Assistant before adding rotation to a feature-->
    <add key="AddRotateSuspendAA" value="true" />

    <!--Used by the split lines tool no split lines smaller than the specified amount-->
    <add key="SplitLines_SkipDistance" value="0.5" />

    <!--Tolerance use on the mouse click to identify the location to split the selected line-->
    <add key="SplitLinesAtLocation_Snap" value="10" />

    <!--Option to suspend the Attribute Assistant before splitting a line-->
    <add key="SplitLinesSuspendAA" value="true" />

    <!--Tolerance to snap the mouse click to for traces and toggling the valve status-->
    <add key="Trace_Click_Point_Tolerence" value="10" />

    <!-- The following config tags are used by the Isolation trace tool
    The source feature(Supplying gas), the trace will make sure a value can trace to one of these, if a valve cannot, it is not returned as a valve that need to be shut off for the isolation. 
    You can list multi source layers by using a |ex: SourceLayer1|SourceLayer2    
    Used by the Iso Trace and the Summary Iso trace 
    -->
  
    <add key="TraceIsolation_Source_FeatureLayer" value="Town Border Station|Regulator Station|Wellhead|Compressor Station" />
    <!-- The layer used to stop the trace. Used by the Iso Trace and the Summary Iso trace and the Toggle operable status-->
    <add key="TraceIsolation_Valve_FeatureLayer" value="Gas Valve|Town Border Station|Regulator Station|Compressor Station" />
  	<add key="TraceIsolation_Valve_ClosedValveQuery" value="PRESENTSTATUS = 0" />
    <!-- The field in the valve layer to determine the if the valve is operable 0/false or 1/true are valid values.
    If a valve is non operable it is skipped by the trace used by the Iso Trace and the Summary Iso trace and the toggle valve status tool
    -->
    <add key="TraceIsolation_Operable_Field_Valves" value="ACCESSIBLE" />
    <add key="TraceIsolation_Operable_Field_Sources" value="" />
    <add key="TraceIsolation_Operable_Values" value="0|1" />
    <!-- you need to use character codes for reserved XML characters, less then, greater then, etc-->
    <add key="TraceIsolation_Valve_AddSQL" value="" />

    <!-- Option to clear existing Flags before running the Isolation trace-->
    <add key="TraceIsolation_ClearFlagsOnClick" value="true" />
    <!-- Option to return the results as a set of in memory layers-->
    <add key="TraceIsolation_AddResultsAsLayers" value="True" />
    <!-- Option to return the results as a selection or graphic-->
    <add key="Trace_Return_Selection" value="True" />
    <!-- Field to store the ID for the trace-->
    <add key="Trace_ResultLayersIDField" value="TRACEID" />
    <!-- Field to store the time the model ran in the results-->
    <add key="Trace_ResultLayersDateTimeField" value="MODELRUN" />
    <!-- UTC or Local are the valid options for Trace_ResultLayersDateTimeZone.  Use UCT if you plan on publishing to a hosted service-->
    <add key="Trace_ResultLayersDateTimeZone" value="UTC" />
    <!-- Option to remove M and Zs from the resulting in memory layers-->
    <add key="Trace_ResultLayersRemoveMZ" value="False" />
    <!-- Option to add all results, if false, only the layers that are present in the toc will be added, if true, all layers in the geometric network are added-->
    <add key="Trace_ResultAddAllLayers" value="False" />
    <!-- The buffer to be applied to the outage area created when you add results as layers-->
    <add key="Trace_ResultBuffer" value="20.0" />
    <!-- The number of trace results to require the user to agree to continue-->
    <add key="Trace_ResultTotalPrompt" value="3000" />
    <!-- The name of the layer in the TOC that will be used as a template for the outage layer created when the trace results are added as results-->
    <add key="TraceIsolation_AreaTemplate" value="Restoration Area" />



    <!--The following config tags are used by the Summary Isolation trace tool
    The summary isolation trace tool runs the trace for each main and stores
    the results into a new layer.  The trace calculates the number of valves,
    meters(and if they are critical) and the number of service connections
    -->
    <!-- Option to not only save the segment being traced, but the entire collection of segments(all mains affected by an outage on a pipe segment)-->
    <add key="TraceIsolationSummary_SaveEntireTrace" value="True" />

    <!--The layer to store the results into-->
    <add key="TraceIsolationSummary_LayerName" value="P_PipeWithTraceSummary" />
    <!--The ID in the mains layers, this will be stored with the results 
    for relationship or join purposes-->
    <add key="TraceIsolationSummary_FacilityIDField" value="LEGACYID" />
    <!--Field to store the date the main was analyst-->
    <add key="TraceIsolationSummary_DateFieldName" value="REPORTDT" />
    <!--The main layer to loop through and trace-->
    <add key="TraceIsolationSummary_Main_FeatureLayer" value="Pipe" />
    <!--The Meters to summarize-->
    <add key="TraceIsolationSummary_Meter_FeatureLayer" value="Meter Setting" />
    

    <!--A field denoting if the meter is critical, can be blank-->
    <add key="TraceIsolationSummary_Meter_Critical_Field" value="" />
    <!--A value denoting if the meter is critical, can be blank-->
    <add key="TraceIsolationSummary_Meter_Critical_Value" value="" />
    <!--Field to store the count of system valves(name of valve layer is defined by
    the TraceIsolation_Valve_FeatureLayer entry-->
    <add key="TraceIsolationSummary_ValveCountFieldName" value="ValveCount" />
    <!--Field to store the count of meters-->
    <add key="TraceIsolationSummary_MeterCountFieldName" value="MeterCount" />
    <!--Field to store the count of critical meters-->
    <add key="TraceIsolationSummary_CritMeterCountFieldName" value="" />
    <!--not used at the moment, can be left blank-->
    <add key="TraceIsolationSummary_CommentsFieldName" value="COMMENTS" />
    <!--Option to tell the trace solver to trace only networks with flow set-->
    <add key="TraceFlow_Interminate" value="false" />
   
    <add key="traceResultsLineColor" value ="255,0,0"/>
  </appSettings>
  <!--Config options for the Split and Merge Tools-->
  <MergeSplitGeoNetFeatures>
    <!--Option to have the Merge Elev option in the dialog check on by default-->
    <MergeSplitElev>true</MergeSplitElev>
    <!--Format string for the values when elevation info is split-->
    <SplitFormatString>{0:0.##}</SplitFormatString>
    <!--Array of the fields to use-->
    <Fields>
      <Field>
        <Name>UPELEV</Name>
        <!--Options for merge - Max, Min, Average, Concat, Sum-->
        <!-- use Max for the Upstream Elevation-->
        <MergeRule>Max</MergeRule>
        <!--Options for Split - Max, Min-->
        <!-- use Max for the Upstream Elevation-->

        <SplitRule>Max</SplitRule>

      </Field>
      <Field>
        <Name>DOWNELEV</Name>
        <!--Options for merge - Max, Min, Average, Concat, Sum-->
        <!-- use Min for the Downstream Elevation-->
        <MergeRule>Min</MergeRule>
        <!--Options for Split - Max, Min-->
        <!-- use Min for the downstream Elevation-->
        <SplitRule>Min</SplitRule>

      </Field>

    </Fields>
  </MergeSplitGeoNetFeatures>
  
 
  <!-- Begin Configuration for the Construct Lines with Endpoint Tool, this is an XML array of ConstructLineWithEndPointsDetails, you can specify any number of combinations -->
  <ConstructLineWithPoints>
    <!--Start of entry-->
    <ConstructLineWithPointsDetails>

      <!--The layer to add end points to-->
      <Line_LayerName>Pipe</Line_LayerName>

      <!--The layer to add to the end of the line-->
      <Point_Start_LayerName>Non-Controllable Fitting</Point_Start_LayerName>

      <!--The default template to use to attribute the points, can be blank, user will be prompted for template-->
      <Point_Start_EditTemplate>End Cap</Point_Start_EditTemplate>

      <!--Option to split the line at each turn, creates multi lines features-->
      <TwoPointLines>true</TwoPointLines>

      <!--Option to create a point at each vertex, not just end points-->
      <PointAtVertices>true</PointAtVertices>

    </ConstructLineWithPointsDetails>
  </ConstructLineWithPoints>
  <!-- End Configuration for the Construct Lines with Endpoint Tool, this is an XML array of ConstructLineWithEndPointsDetails, you can specify any number of combinations -->

  <!-- Begin Configuration Section for the Add Laterals Tool and Construction Tools, This is an xml array, so you can define any number of AddLateralDetails Entities-->
  <AddLateralsLayers>
    <!-- Start of the Entry, the name is just for reference, not used or presented-->
    <AddLateralDetails Name="Services to Mains">
      <!-- The Point layer to connect to the main through a lateral-->
      <Point_LayerName>Meter Setting</Point_LayerName>
      <!-- the layer to look to connect to, the lateral will connect
      to this from the point-->
      <MainLine_LayerName>Pipe</MainLine_LayerName>
      <!-- The line used to connect the point to the main-->
      <LateralLine_LayerName>Service</LateralLine_LayerName>
      <!-- The Template to use to populate the attributes of the lateral line, 
      this can be removed or left blank and the user will be prompt for a template-->
      <LateralLine_EditTemplate>Plastic PE - 1"</LateralLine_EditTemplate>
      
      <FromToFields>
        <!--XML Array of From/To Fields to copy from the Main to the Point-->
        <FromToField>
          <!-- The field in main that contains the attribute you want to apply to the point, 
        this can be left blank or removed-->
          <SourceField>LEGACYID</SourceField>
          <!-- A field in the point layer that can be populated with a value from the main
        this can be removed or left blank-->
          <TargetField>LOCATIONDESCRIPTION</TargetField>
          <!-- A prefix that can be applied to the value extracted from the main
        and applied to the point
        this can be left blank -->
          <Prefix>PipeID:</Prefix>
        </FromToField>
        <!-- Repeat-->
        <FromToField>
          <SourceField>INSTALLATIONDATE</SourceField>
          <TargetField>INSTALLATIONDATE</TargetField>
          <Prefix></Prefix>
        </FromToField>
      </FromToFields>

      <!-- Determines the direction to draw the main, flow is set with digitized directon
      this affects the distance set in the point along sections below, 
      that is from the start of the main-->
      <LateralLine_StartAtMain>true</LateralLine_StartAtMain>
      <!-- this will check for an existing lateral beteen the point and the main
      and remove it if one is found, set to false to leave an existing lateral-->
      <DeleteExistingLines>true</DeleteExistingLines>
      <!-- the tolerance to search for the lateral from the point feature-->
      <TolerenceForDelete>.5</TolerenceForDelete>
      <!--restrict searches by layer definition-->
      <SearchOnLayer>true</SearchOnLayer>
      <!--The distance to search for the closest line from the point-->
      <SearchDistance>500</SearchDistance>
      <PointsAlong>
        <PointAlong>
          <LayerName>Excess Flow Valve</LayerName>
          <EditTemplate>Excess Flow Valve</EditTemplate>
          <Distance>12</Distance>
          <DistanceIsPercent>true</DistanceIsPercent>
        </PointAlong>
        <PointAlong>
          <LayerName>Non-Controllable Fitting</LayerName>
          <EditTemplate>Tee: Distribution</EditTemplate>
          <Distance>0</Distance>
          <DistanceIsPercent>false</DistanceIsPercent>
        </PointAlong>
      </PointsAlong>
      <!-- This option will connect two points to the main through a 
      single lateral if the features are within a tolerance-->
      <Dual_When_Two_Selected>false</Dual_When_Two_Selected>
      <!-- This will dual nearby meters even when not selected -->
      <Dual_When_Nearby>false</Dual_When_Nearby>
      <!-- the distance to search to create a dual lateral with selected features-->
      <Dual_Max_Distance_When_Two_Selected>100</Dual_Max_Distance_When_Two_Selected>
      <!-- the distance to search to create a dual lateral with nearby features-->
      <Dual_Max_Distance_When_Nearby>30</Dual_Max_Distance_When_Nearby>
      <!-- Determines how to draw the dual laterals, sqaure or a Y shape-->
      <Dual_Option_Make_Square>true</Dual_Option_Make_Square>
      <!-- the distance on the lateral to turn 45 degrees on the main-->
      <Hook_DoglegDistance>0</Hook_DoglegDistance>
      <!-- Determines if the dogleg is a distance or a percent down the lateral-->
      <Hook_DistanceIsPercent>true</Hook_DistanceIsPercent>
      <!-- The angle of the dogleg-->
      <Hook_Angle>0</Hook_Angle>
      <!-- Option to reset flow after edit - Digitized, Role, None-->
      <Reset_Flow></Reset_Flow>
      <!-- End the config for one point to main with lateral config-->
    </AddLateralDetails>
    <!-- repeat for other configurations-->
    
  </AddLateralsLayers>
  <!-- End Configuration Section for the Add Laterals Tool and Construction Tools, This is an xml array, so you can define any number of AddLateralDetails Entities -->


</configuration>
