<?xml version="1.0" encoding="utf-8"?>
<!--
 |  Version 2.18.16
 | Copyright 2016 Esri
 |
 | Licensed under the Apache License, Version 2.0 (the "License");
 | you may not use this file except in compliance with the License.
 | You may obtain a copy of the License at
 |
 |    http://www.apache.org/licenses/LICENSE-2.0
 |
 | Unless required by applicable law or agreed to in writing, software
 | distributed under the License is distributed on an "AS IS" BASIS,
 | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 | See the License for the specific language governing permissions and
 | limitations under the License.
-->


<configuration>
  <Name>Water Release</Name>
  <appSettings>
    <!--Determines if the connection check will evaluate feature not on and off because of scale dependency-->
    <add key="ConnectionChecker_CheckOnlyVisibleLayers" value="false" />

    <!--Use by the Rotate Selected features tool and entry in the Attribute Assistant. This will allow a point to look at a line and spin to match a change in the value of the field below-->
    <add key="RotateSelected_DiameterFieldName" value="DIAMETER" />

    <!--Add additional spin to the angle from the intersected line, useful if you created you symbols on a different access-->
    <add key="RotateSelected_SpinAngle" value="0" />

    <!--Add additional spin tool value-->
    <add key="AdditionalRotate_SpinAngle" value="45" />

    <!--Option to suspend the Attribute Assistant before adding rotation to a feature-->
    <add key="AddRotateSuspendAA" value="true" />

    <!--Used by the split lines tool no split lines smaller than the specified amount-->
    <add key="SplitLines_SkipDistance" value="0.5" />

    <!--Tolerance use on the mouse click to identify the location to split the selected line-->
    <add key="SplitLinesAtLocation_Snap" value="10" />

    <!--Option to suspend the Attribute Assistant before splitting a line-->
    <add key="SplitLinesSuspendAA" value="true" />


    <!--The radius of the semi circle created by the Jumper tools-->
    <add key="CreateJumps_Distance" value=".5" />



    <!--Tolerance to snap the mouse click to for traces and toggling the valve status-->
    <add key="Trace_Click_Point_Tolerence" value="10" />

    <!-- The following config tags are used by the Isolation trace tool
    The source feature(Supplying water), the trace will make sure a value can trace to one of these, if a valve cannot, it is not returned as a valve that need to be shut off for the isolation. 
    You can list multi source layers by using a |ex: SourceLayer1|SourceLayer2    
    Used by the Iso Trace and the Summary Iso trace 
    -->
   
    <add key="TraceIsolation_Source_FeatureLayer" value="Water Network Structures|Water Pumps" />
    <!-- The layer used to stop the trace. Used by the Iso Trace and the Summary Iso trace and the Toggle operable status-->
    <add key="TraceIsolation_Valve_FeatureLayer" value="Water System Valves|Water Control Valves" />
    <add key="TraceIsolation_Valve_ClosedValveQuery" value="CURROPEN = 0" />
    <!-- The field in the valve layer to determine the if the valve is operable 0/false or 1/true are valid values.
    If a valve is non operable it is skipped by the trace used by the Iso Trace and the Summary Iso trace and the toggle valve status tool
    -->
    <add key="TraceIsolation_Operable_Field_Valves" value="Operable" />
    <add key="TraceIsolation_Operable_Field_Sources" value="Operable" />
    <add key="TraceIsolation_Operable_Values" value="0|1" />
    <!-- you need to use character codes for reserved XML characters, less then, greater then, etc-->
    <add key="TraceIsolation_Valve_AddSQL" value="" />

    <!-- Option to clear existing Flags before running the Isolation trace-->
    <add key="TraceIsolation_ClearFlagsOnClick" value="true" />

    <!-- Option to clear existing Flags before running the Isolation trace-->
    <add key="TraceIsolation_ClearFlagsOnClick" value="true" />
    <!-- Option to return the results as a set of in memory layers-->
    <add key="TraceIsolation_AddResultsAsLayers" value="True" />
    <!-- Option to return the results as a selection or graphic-->
    <add key="Trace_Return_Selection" value="True" />
    <!-- Field to store the ID for the trace-->
    <add key="Trace_ResultLayersIDField" value="TRACEID" />
    <!-- Field to store the time the model ran in the results-->
    <add key="Trace_ResultLayersDateTimeField" value="MODELRUN" />
    <!-- UTC or Local are the valid options for Trace_ResultLayersDateTimeZone.  Use UCT if you plan on publishing to a hosted service-->
    <add key="Trace_ResultLayersDateTimeZone" value="UTC" />
    <!-- Option to remove M and Zs from the resulting in memory layers-->
    <add key="Trace_ResultLayersRemoveMZ" value="False" />
    <!-- Option to add all results, if false, only the layers that are present in the toc will be added, if true, all layers in the geometric network are added-->
    <add key="Trace_ResultAddAllLayers" value="False" />
    <!-- The buffer to be applied to the outage area created when you add results as layers-->
    <add key="Trace_ResultBuffer" value="20.0" />
    <!-- The number of trace results to require the user to agree to continue-->
    <add key="Trace_ResultTotalPrompt" value="3000" />
    <!-- The name of the layer in the TOC that will be used as a template for the outage layer created when the trace results are added as results-->
    <add key="TraceIsolation_AreaTemplate" value="Outage Template" />
    
    <!--The following config tags are used by the Summary Isolation trace tool
    The summary isolation trace tool runs the trace for each main and stores
    the results into a new layer.  The trace calculates the number of valves,
    meters(and if they are critical) and the number of service connections
    -->
    
    <!--The layer to store the results into-->
    <add key="TraceIsolationSummary_LayerName" value="wMainsWithTraceSummary" />
    <!--The ID in the mains layers, this will be stored with the results 
    for relationship or join purposes-->
    <add key="TraceIsolationSummary_FacilityIDField" value="FacilityId" />
    <!--Field to store the date the main was analyst-->
    <add key="TraceIsolationSummary_DateFieldName" value="REPORTDT" />
    <!--The main layer to loop through and trace-->
    <add key="TraceIsolationSummary_Main_FeatureLayer" value="Water Mains" />
    <!--The Meters to summarize-->
    <add key="TraceIsolationSummary_Meter_FeatureLayer" value="Water Service Connections" />
    <!--A field denoting if the meter is critical, can be blank-->
    <add key="TraceIsolationSummary_Meter_Critical_Field" value="CRITICAL" />
    <!--A value denoting if the meter is critical, can be blank-->
    <add key="TraceIsolationSummary_Meter_Critical_Value" value="1" />


    <!--Field to store the count of system valves(name of valve layer is defined by
    the TraceIsolation_Valve_FeatureLayer entry-->
    <add key="TraceIsolationSummary_ValveCountFieldName" value="ValveCount" />
    <!--Field to store the count of meters-->
    <add key="TraceIsolationSummary_MeterCountFieldName" value="MeterCount" />
    <!--Field to store the count of critical meters-->
    <add key="TraceIsolationSummary_CritMeterCountFieldName" value="NUMCRITMETER" />
    <!--not used at the moment, can be left blank-->
    <add key="TraceIsolationSummary_CommentsFieldName" value="COMMENTS" />
    <!-- Option to not only save the segment being traced, but the entire collection of segments(all mains affected by an outage on a pipe segment)-->
    <add key="TraceIsolationSummary_SaveEntireTrace" value="True" />


    <!--Option to tell the trace solver to trace only networks with flow set-->
    <add key="TraceFlow_Interminate" value="false" />
    
    <add key="traceResultsLineColor" value ="255,0,0"/>
  </appSettings>
  <!--Config options for the Split and Merge Tools-->
  <MergeSplitGeoNetFeatures>
    <!--Option to have the Merge Elev option in the dialog check on by default-->
    <MergeSplitElev>true</MergeSplitElev>
    <!--Format string for the values when elevation info is split-->
    <SplitFormatString>{0:0.##}</SplitFormatString>
    <!--Array of the fields to use-->
    <Fields>
      <Field>
        <Name>UPELEV</Name>
        <!--Options for merge - Max, Min, Average, Concat, Sum-->
        <!-- use Max for the Upstream Elevation-->
        <MergeRule>Max</MergeRule>
        <!--Options for Split - Max, Min-->
        <!-- use Max for the Upstream Elevation-->

        <SplitRule>Max</SplitRule>

      </Field>
      <Field>
        <Name>DOWNELEV</Name>
        <!--Options for merge - Max, Min, Average, Concat, Sum-->
        <!-- use Min for the Downstream Elevation-->
        <MergeRule>Min</MergeRule>
        <!--Options for Split - Max, Min-->
        <!-- use Min for the downstream Elevation-->
        <SplitRule>Min</SplitRule>

      </Field>

    </Fields>
  </MergeSplitGeoNetFeatures>
  <FlowAccumulation>
    <FlowLayerDetails>
      <LayerName>Sewer Manholes</LayerName>
      <SumFlowField>SUMFLOW</SumFlowField>
      <WeightName>FLOW</WeightName>
      <FlowDirection>UpStream</FlowDirection>
    </FlowLayerDetails>
    <FlowLayerDetails>
      <LayerName>Sewer Gravity Mains</LayerName>
      <SumFlowField>SUMFLOW</SumFlowField>
      <WeightName>FLOW</WeightName>
      <FlowDirection>UpStream</FlowDirection>
    </FlowLayerDetails>
  </FlowAccumulation>

  <MoveConnections>
    <!--Entry for Move Connections, name if for reference-->
    <MoveConnectionsDetails Name="Water Mains">
      <!--The layer with features to move-->
      <LineLayer>wMain</LineLayer>
      <!--Array of layers to move-->
      <LayersToMove>
        <!--Layer names-->
        <Layer>wFitting</Layer>
        <Layer>wNetworkStructure</Layer>
      </LayersToMove>
    </MoveConnectionsDetails>

  </MoveConnections>

  <!-- Begin Configuration for the Profile Graph Tool. This uses an XML array of ProfileGraphDetails so you can specify a number of layers to run the graph on -->
  <ProfileGraph>
    <!--Entry for graph, name if for reference-->
    <ProfileGraphDetails Name="Sewer Profile">
      <!--The geometric network to trace-->
      <Network_Name>SewerStormwater_Net</Network_Name>
      <!--The point layer to trace between, the user is prompt to click two to trace between-->
      <Point_LayerName>Sewer Manholes</Point_LayerName>
      <!--The top elevation of the point layer-->
      <Point_TopElevationField>RIMELEV</Point_TopElevationField>
      <!--The depth of the point or the top minus the depth-->
      <Point_BottomElevationField>INVERTELEV</Point_BottomElevationField>
      <!--the Type of the bottom elevation, either Elevation or Invert-->
      <Point_BottomElevationTypeField>Elevation</Point_BottomElevationTypeField>
      <!--The ID of the point layer-->
      <Point_IDField>FACILITYID</Point_IDField>
      <!--The mains connect the points-->
      <Line_LayerName>Sewer Gravity Mains</Line_LayerName>
      <!--The upstream elevation on the mains-->
      <Line_UpStreamElevationField>UPELEV</Line_UpStreamElevationField>
      <!--The downstream elevation on the mains-->
      <Line_DownStreamElevationField>DOWNELEV</Line_DownStreamElevationField>
      <!--The ID of the line layer-->
      <Line_IDField>FACILITYID</Line_IDField>
      <!--Fields used to label the main, you can use any number of fields-->
      <Line_Labels>
        <!--Field-->
        <Line_Label>DIAMETER</Line_Label>
        <!--Field-->
        <Line_Label>MATERIAL</Line_Label>
        <!--Repeat-->
      </Line_Labels>
      <!--The layer for surface elevation-->
      <Elevation_LayerName>FiveMeterSurface</Elevation_LayerName>
      <!--The layer for the taps or the lateral locations, not required, can be left blank-->
      <PointAlong_LayerName>Sewer Taps</PointAlong_LayerName>
      <!--The ID of the tap layer-->
      <PointAlong_IDField>FACILITYID</PointAlong_IDField>
      <!--Option to show labels on points along-->
      <PointAlong_ShowLabels>False</PointAlong_ShowLabels>
      <!--Array of fields to use to label points along-->
      <PointAlong_Labels>
        <!--Field-->
        <PointAlong_Label>FACILITYID</PointAlong_Label>

        <!--Repeat-->
      </PointAlong_Labels>
      <Lines_Along>
        <Line_Along>

          <Layer_Name>Sewer Gravity Mains</Layer_Name>
          <!--The upstream elevation on the mains-->
          <Line_UpStreamElevationField>UPELEV</Line_UpStreamElevationField>
          <!--The downstream elevation on the mains-->
          <Line_DownStreamElevationField>DOWNELEV</Line_DownStreamElevationField>
          <!--The ID of the line layer-->
          <Line_IDField>FACILITYID</Line_IDField>
        </Line_Along>
        <Line_Along>

          <Layer_Name>Storm Gravity Mains</Layer_Name>
          <!--The upstream elevation on the mains-->
          <Line_UpStreamElevationField>UPELEV</Line_UpStreamElevationField>
          <!--The downstream elevation on the mains-->
          <Line_DownStreamElevationField>DOWNELEV</Line_DownStreamElevationField>
          <!--The ID of the line layer-->
          <Line_IDField>FACILITYID</Line_IDField>
        </Line_Along>
      </Lines_Along>

      <!--The name of the graph-->
      <Graph_Name>Sewer Profile</Graph_Name>
      <!--The title of the graph-->
      <GraphTitle_Name>Sewer Profile Graph</GraphTitle_Name>
      <!--The title of the legend-->
      <Legend_Name>Legend</Legend_Name>
      <!--The left axis label-->
      <LeftAxis_Name>Elevation(ft)</LeftAxis_Name>
      <!--The Top axis label-->
      <TopAxis_Name>Manholes</TopAxis_Name>
      <!--The Bottom axis label-->
      <BottomAxis_Name>Length(ft)</BottomAxis_Name>







    </ProfileGraphDetails>
    <ProfileGraphDetails Name="Storm Profile">
      <!--The geometric network to trace-->
      <Network_Name>Stormwater_Net</Network_Name>
      <!--The point layer to trace between, the user is prompt to click two to trace between-->
      <Point_LayerName>Storm Manholes</Point_LayerName>
      <!--The top elevation of the point layer-->
      <Point_TopElevationField>RIMELEV</Point_TopElevationField>
      <!--The depth of the point or the top minus the depth-->
      <Point_BottomElevationField>INVERTELEV</Point_BottomElevationField>
      <!--the Type of the bottom elevation, either Elevation or Invert-->
      <Point_BottomElevationTypeField>Elevation</Point_BottomElevationTypeField>
      <!--The ID of the point layer-->
      <Point_IDField>FACILITYID</Point_IDField>
      <!--The mains connect the points-->
      <Line_LayerName>Storm Gravity Mains</Line_LayerName>
      <!--The upstream elevation on the mains-->
      <Line_UpStreamElevationField>UPELEV</Line_UpStreamElevationField>
      <!--The downstream elevation on the mains-->
      <Line_DownStreamElevationField>DOWNELEV</Line_DownStreamElevationField>
      <!--The ID of the line layer-->
      <Line_IDField>FACILITYID</Line_IDField>
      <!--Fields used to label the main, you can use any number of fields-->
      <Line_Labels>
        <!--Field-->
        <Line_Label>DIAMETER</Line_Label>
        <!--Field-->
        <Line_Label>MATERIAL</Line_Label>
        <!--Repeat-->
      </Line_Labels>
      <!--The layer for surface elevation-->
      <Elevation_LayerName>FiveMeterSurface</Elevation_LayerName>
      <!--The layer for the taps or the lateral locations, not required, can be left blank-->
      <PointAlong_LayerName>Sewer Taps</PointAlong_LayerName>
      <!--The ID of the tap layer-->
      <PointAlong_IDField>FACILITYID</PointAlong_IDField>
      <!--Option to show labels on points along-->
      <PointAlong_ShowLabels>False</PointAlong_ShowLabels>
      <!--Array of fields to use to label points along-->
      <PointAlong_Labels>
        <!--Field-->
        <PointAlong_Label>FACILITYID</PointAlong_Label>

        <!--Repeat-->
      </PointAlong_Labels>
      <Lines_Along>
        <Line_Along>

          <Layer_Name>Sewer Gravity Mains</Layer_Name>
          <!--The upstream elevation on the mains-->
          <Line_UpStreamElevationField>UPELEV</Line_UpStreamElevationField>
          <!--The downstream elevation on the mains-->
          <Line_DownStreamElevationField>DOWNELEV</Line_DownStreamElevationField>
          <!--The ID of the line layer-->
          <Line_IDField>FACILITYID</Line_IDField>
        </Line_Along>
        <Line_Along>

          <Layer_Name>Storm Gravity Mains</Layer_Name>
          <!--The upstream elevation on the mains-->
          <Line_UpStreamElevationField>UPELEV</Line_UpStreamElevationField>
          <!--The downstream elevation on the mains-->
          <Line_DownStreamElevationField>DOWNELEV</Line_DownStreamElevationField>
          <!--The ID of the line layer-->
          <Line_IDField>FACILITYID</Line_IDField>
        </Line_Along>
      </Lines_Along>

      <!--The name of the graph-->
      <Graph_Name>Sewer Profile</Graph_Name>
      <!--The title of the graph-->
      <GraphTitle_Name>Sewer Profile Graph</GraphTitle_Name>
      <!--The title of the legend-->
      <Legend_Name>Legend</Legend_Name>
      <!--The left axis label-->
      <LeftAxis_Name>Elevation(ft)</LeftAxis_Name>
      <!--The Top axis label-->
      <TopAxis_Name>Manholes</TopAxis_Name>
      <!--The Bottom axis label-->
      <BottomAxis_Name>Length(ft)</BottomAxis_Name>







    </ProfileGraphDetails>
    <!--repeat for another definition-->

    <!--repeat for another definition-->


  </ProfileGraph>
  <!-- End Configuration for the Profile Graph Tool. This uses an XML array of ProfileGraphDetails so you can specify a number of layers to run the graph on -->

  <!-- Begin Configuration for the Construct Lines with Endpoint Tool, this is an XML array of ConstructLineWithEndPointsDetails, you can specify any number of combinations -->
  <ConstructLineWithPoints>
    <!--Start of entry-->
    <ConstructLineWithPointsDetails>

      <!--The layer to add end points to-->
      <Line_LayerName>Water Lateral Lines</Line_LayerName>

      <!--The layer to add to the end of the line-->
      <Point_Start_LayerName>Water System Valves</Point_Start_LayerName>

      <!--The default template to use to attribute the points, can be blank, user will be prompted for template-->
      <Point_Start_EditTemplate>Gate</Point_Start_EditTemplate>

      <!--The layer to add to the end of the line-->
      <Point_Along_LayerName></Point_Along_LayerName>

      <!--The default template to use to attribute the points, can be blank, user will be prompted for template-->
      <Point_Along_EditTemplate></Point_Along_EditTemplate>

      <!--The layer to add to the end of the line-->
      <Point_End_LayerName>Water Service Connections</Point_End_LayerName>

      <!--The default template to use to attribute the points, can be blank, user will be prompted for template-->
      <Point_End_EditTemplate>Domestic Connection</Point_End_EditTemplate>


      <!--Option to split the line at each turn, creates multi lines features-->
      <TwoPointLines>false</TwoPointLines>

      <!--Option to create a point at each vertex, not just end points-->
      <PointAtVertices>false  </PointAtVertices>

    </ConstructLineWithPointsDetails>
    <ConstructLineWithPointsDetails>

      <!--The layer to add end points to-->
      <Line_LayerName>Sewer Gravity Mains</Line_LayerName>

      <!--The layer to add to the end of the line-->
      <Point_Start_LayerName>Sewer Manholes</Point_Start_LayerName>

      <!--The default template to use to attribute the points, can be blank, user will be prompted for template-->
      <Point_Start_EditTemplate>Manhole</Point_Start_EditTemplate>

      <!--The layer to add to the end of the line-->
      <Point_Along_LayerName>Sewer Fittings</Point_Along_LayerName>

      <!--The default template to use to attribute the points, can be blank, user will be prompted for template-->
      <Point_Along_EditTemplate>Sewer Fittings</Point_Along_EditTemplate>

      <!--The layer to add to the end of the line-->
      <Point_End_LayerName>Sewer Manholes</Point_End_LayerName>

      <!--The default template to use to attribute the points, can be blank, user will be prompted for template-->
      <Point_End_EditTemplate>Manhole </Point_End_EditTemplate>


      <!--Option to split the line at each turn, creates multi lines features-->
      <TwoPointLines>true</TwoPointLines>

      <!--Option to create a point at each vertex, not just end points-->
      <PointAtVertices>true</PointAtVertices>

    </ConstructLineWithPointsDetails>
    <ConstructLineWithPointsDetails>

      <!--The layer to add end points to-->
      <Line_LayerName>Slopes</Line_LayerName>

      <!--The layer to add to the end of the line-->
      <Point_Start_LayerName>Point Elevations</Point_Start_LayerName>

      <!--The default template to use to attribute the points, can be blank, user will be prompted for template-->
      <Point_Start_EditTemplate>Road Point</Point_Start_EditTemplate>

      <!--The layer to add to the end of the line-->
      <Point_Along_LayerName>Point Elevations</Point_Along_LayerName>

      <!--The default template to use to attribute the points, can be blank, user will be prompted for template-->
      <Point_Along_EditTemplate>Road Point</Point_Along_EditTemplate>

      <!--The layer to add to the end of the line-->
      <Point_End_LayerName>Point Elevations</Point_End_LayerName>

      <!--The default template to use to attribute the points, can be blank, user will be prompted for template-->
      <Point_End_EditTemplate>Road Point</Point_End_EditTemplate>


      <!--Option to split the line at each turn, creates multi lines features-->
      <TwoPointLines>false</TwoPointLines>

      <!--Option to create a point at each vertex, not just end points-->
      <PointAtVertices>false</PointAtVertices>

    </ConstructLineWithPointsDetails>
  </ConstructLineWithPoints>
  <!-- End Configuration for the Construct Lines with Endpoint Tool, this is an XML array of ConstructLineWithEndPointsDetails, you can specify any number of combinations -->

  <!-- Begin Configuration for the Connect Closest Tools, this is an XML array of ConnectClosestDetails, you can specify any number of combinations -->
  <ConnectClosest>
    <!--start of entry-->
    <ConnectClosestDetails>
      <!--Point layer evaluated to connect to another-->
      <Point_Layer>Sewer Manholes</Point_Layer>
      <!--Line layer to connect the closest point to-->
      <Line_Layer>Sewer Gravity Mains</Line_Layer>
      <!--The default editing template used to set the
      attributes of the new main-->
      <Line_EditTemplate>18" PVC Sewer</Line_EditTemplate>
      <!--the distance to search for the closest feature-->
      <Search_Threshold>450</Search_Threshold>
      <Reset_Flow>Digitized</Reset_Flow>
    </ConnectClosestDetails>
    <ConnectClosestDetails>
      <Point_Layer>Storm Manholes</Point_Layer>
      <Line_Layer>Storm Gravity Mains</Line_Layer>
      <Line_EditTemplate>18" PVC Storm</Line_EditTemplate>
      <Search_Threshold>450</Search_Threshold>
      <Reset_Flow>Digitized</Reset_Flow>
    </ConnectClosestDetails>
  </ConnectClosest>
  <!-- End Configuration for the Connect Closest Tools, this is an XML array of ConnectClosestDetails, you can specify any number of combinations -->

  <!-- Begin Attribute Transfer Loader -->
  <AttributeTransfer>
    <!--You can predefine the values for the Attribute Transfer dialog, this is an XML array of AttributeTransferDetails, you can specify any number of combinations-->
    <!--Start of the entry, the name is present to the user-->
    <AttributeTransferDetails Name="Sewer Mains to Manholes" >
      <!--The From layer, transfer attributes from-->
      <SourceLayerName>Sewer Gravity Mains</SourceLayerName>
      <!--The To layer, transfer attributes to-->
      <TargetLayerName>Sanitary Sewer Manholes</TargetLayerName>
      <!--XML array of the From/To Fields-->
      <FromToFields>
        <!--From To Field Def-->
        <FromToField>
          <!--Field in the Source Layer-->
          <SourceField>MATERIAL</SourceField>
          <!--Field in the TargetLayer-->
          <TargetField>LOCDESC</TargetField>
        </FromToField>
        <FromToField>
          <SourceField>LASTUPDATE</SourceField>
          <TargetField>INSTALLDATE</TargetField>
        </FromToField>
      </FromToFields>
    </AttributeTransferDetails>
    <!--Repeat for more transfer options-->
  </AttributeTransfer>
  <!-- End Attribute Transfer Loader -->

  <!-- Begin Configuration for Layer Viewer Window, option to zoom to feature when you cycle -->
  <LayerViewerConfig ZoomOnRecordChange="true">
    <!-- this is an 
  XML array of LayerViewerLayers, you can specify 
  any number of combinations-->
    <LayerViewerLayers>
      <!--Start of definition-->
      <LayerViewerLayer>
        <!--Name of layer-->
        <LayerName>Field Notes</LayerName>
        <!--query to run on layer, 1=1 is all-->
        <Query>1=1</Query>
        <!--Scale to Zoom to-->
        <ZoomScale>1600</ZoomScale>
      </LayerViewerLayer>
      <!--Repeat-->
      <LayerViewerLayer>
        <LayerName>Service Requests</LayerName>
        <Query>REQUESTTYPE=&#39;Water Pressure&#39;</Query>
        <ZoomScale>1600</ZoomScale>
      </LayerViewerLayer>
      <LayerViewerLayer>
        <LayerName>Stormwater Map Change Request</LayerName>
        <Query>STATUS=&#39;Open&#39;</Query>
        <ZoomScale>1600</ZoomScale>
      </LayerViewerLayer>

    </LayerViewerLayers>
    <!--End Configuration for Layer Viewer Window, option to zoom to feature when you cycle-->

  </LayerViewerConfig>
  <!-- End Configuration for Layer Viewer Window, option to zoom to feature when you cycle -->

  <!-- Begin Configuration Section for the Add Laterals Tool and Construction Tools, This is an XML array, so you can define any number of AddLateralDetails Entities-->
  <AddLateralsLayers>

    <!-- Start of the Entry, the name is just for reference, not used or presented-->
    <AddLateralDetails Name="Meters to Mains">
      <!-- The Point layer to connect to the main through a lateral-->
      <Point_LayerName>Water Service Connections</Point_LayerName>
      <!-- the layer to look to connect to, the lateral will connect
      to this from the point-->
      <MainLine_LayerName>Water Mains</MainLine_LayerName>
      <!-- The line used to connect the point to the main-->
      <LateralLine_LayerName>Water Lateral Lines</LateralLine_LayerName>
      <!-- The Template to use to populate the attributes of the lateral line, 
      this can be removed or left blank and the user will be prompt for a template-->
      <LateralLine_EditTemplate>1" Copper Domestic</LateralLine_EditTemplate>



      <FromToFields>
        <!--XML Array of From/To Fields to copy from the Main to the Point-->
        <FromToField>
          <!-- The field in main that contains the attribute you want to apply to the point, 
        this can be left blank or removed-->
          <SourceField>FACILITYID</SourceField>
          <!-- A field in the point layer that can be populated with a value from the main
        this can be removed or left blank-->
          <TargetField>LOCDESC</TargetField>
          <!-- A prefix that can be applied to the value extracted from the main
        and applied to the point
        this can be left blank -->
          <Prefix>PipeID:</Prefix>
        </FromToField>
        <!-- Repeat-->
        <FromToField>
          <SourceField>INSTALLDATE</SourceField>
          <TargetField>INSTALLDATE</TargetField>
          <Prefix>PipeID:</Prefix>
        </FromToField>

      </FromToFields>

      <!-- Determines the direction to draw the main, flow is set with digitized direction
      this affects the distance set in the point along sections below, 
      that is from the start of the main-->
      <LateralLine_StartAtMain>true</LateralLine_StartAtMain>
      <!-- this will check for an existing lateral beteen the point and the main
      and remove it if one is found, set to false to leave an existing lateral-->
      <DeleteExistingLines>true</DeleteExistingLines>
      <!-- the tolerance to search for the lateral from the point feature-->
      <TolerenceForDelete>.5</TolerenceForDelete>
      <!--restrict searches by layer definition-->
      <SearchOnLayer>true</SearchOnLayer>
      <!--The distance to search for the closest line from the point-->
      <SearchDistance>500</SearchDistance>
      <!-- This section allows you to create a series of points along the main, 
      it can be removed-->
      <PointsAlong>
        <!-- The entry for one point-->
        <PointAlong>
          <!-- The name of the layer to place, this must match the 
          layer name in the TOC-->
          <LayerName>Water Curb Stop Valves</LayerName>
          <!-- The distance to place along the lateral, percent or feature units-->
          <Distance>5</Distance>
          <!-- Determines if the distance above is percent or feature units-->
          <DistanceIsPercent>false</DistanceIsPercent>
          <!-- The editor template used to fill in the attributes, this 
          can be removed or left blank and the user will be prompted for a template-->
          <EditTemplate>Roundway</EditTemplate>
          <!--Option to intersect a polygon layer and offset the point from the intersection point on the polygon boundary, -->
          <PolygonOffsetLayerName>OwnerParcel</PolygonOffsetLayerName>
          <!--To or the From Side of the intersection, the digitized direction of the lateral matters: Options - To or From-->
          <PolygonOffsetSide>From</PolygonOffsetSide>
          <!-- ends this layers configuration-->

        </PointAlong>
        <!-- start of next layer, you can copy and repeat these sections for any 
        number of point layers-->
        <PointAlong>
          <LayerName>Water Fittings</LayerName>
          <EditTemplate>Tee</EditTemplate>
          <Distance>0</Distance>
          <DistanceIsPercent>true</DistanceIsPercent>
        </PointAlong>
        <!--Repeat for additional Points-->
      </PointsAlong>
      <!-- This option will connect two points to the main through a 
      single lateral if the features are within a tolerance-->
      <Dual_When_Two_Selected>true</Dual_When_Two_Selected>
      <!-- This will dual nearby meters even when not selected -->
      <Dual_When_Nearby>true</Dual_When_Nearby>
      <!-- the distance to search to create a dual lateral with selected features-->
      <Dual_Max_Distance_When_Two_Selected>100</Dual_Max_Distance_When_Two_Selected>
      <!-- the distance to search to create a dual lateral with nearby features-->
      <Dual_Max_Distance_When_Nearby>30</Dual_Max_Distance_When_Nearby>
      <!-- Determines how to draw the dual laterals, square or a Y shape-->
      <Dual_Option_Make_Square>true</Dual_Option_Make_Square>
      <!-- the distance on the lateral to turn 45 degrees on the main-->
      <Hook_DoglegDistance>0</Hook_DoglegDistance>
      <!-- Determines if the dogleg is a distance or a percent down the lateral-->
      <Hook_DistanceIsPercent>true</Hook_DistanceIsPercent>
      <!-- The angle of the dogleg-->
      <Hook_Angle>45</Hook_Angle>
      <!-- Option to reset flow after edit - Digitized, Role, None-->
      <Reset_Flow>Digitized</Reset_Flow>


      <!-- End the config for one point to main with lateral config-->
    </AddLateralDetails>
    <!-- repeat for other configurations-->
    <AddLateralDetails Name="Hydrants to Mains">
      <Point_LayerName>Water Hydrants</Point_LayerName>
      <MainLine_LayerName>Water Mains</MainLine_LayerName>
      <LateralLine_LayerName>Water Lateral Lines</LateralLine_LayerName>


      <FromToFields>
        <!--XML Array of From/To Fields to copy from the Main to the Point-->
        <FromToField>
          <!-- The field in main that contains the attribute you want to apply to the point, 
        this can be left blank or removed-->
          <SourceField>FACILITYID</SourceField>
          <!-- A field in the point layer that can be populated with a value from the main
        this can be removed or left blank-->
          <TargetField>LOCDESC</TargetField>
          <!-- A prefix that can be applied to the value extracted from the main
        and applied to the point
        this can be left blank -->
          <Prefix>PipeID:</Prefix>
        </FromToField>
        <!-- Repeat-->

      </FromToFields>
      <LateralLine_EditTemplate>6" Ductile Iron Fire</LateralLine_EditTemplate>
      <LateralLine_StartAtMain>true</LateralLine_StartAtMain>
      <DeleteExistingLines>true</DeleteExistingLines>
      <TolerenceForDelete>.5</TolerenceForDelete>
      <!--restrict searches by layer definition-->
      <SearchOnLayer>true</SearchOnLayer>
      <!--The distance to search for the closest line from the point-->
      <SearchDistance>500</SearchDistance>
      <PointsAlong>
        <PointAlong>
          <LayerName>Water Fittings</LayerName>
          <EditTemplate>Tee</EditTemplate>
          <Distance>0</Distance>
          <DistanceIsPercent>true</DistanceIsPercent>
        </PointAlong>
        <PointAlong>
          <LayerName>Water Hydrant Valves</LayerName>
          <EditTemplate>6" Gate Valve</EditTemplate>
          <Distance>50</Distance>
          <DistanceIsPercent>true</DistanceIsPercent>
        </PointAlong>
      </PointsAlong>
      <Dual_When_Two_Selected>false</Dual_When_Two_Selected>
      <Dual_When_Nearby>false</Dual_When_Nearby>
      <Dual_Max_Distance_When_Two_Selected>0</Dual_Max_Distance_When_Two_Selected>
      <Dual_Max_Distance_When_Nearby>0</Dual_Max_Distance_When_Nearby>
      <Dual_Option_Make_Square>false</Dual_Option_Make_Square>
      <Hook_DoglegDistance>0</Hook_DoglegDistance>
      <Hook_DistanceIsPercent>false</Hook_DistanceIsPercent>
      <Hook_Angle>45</Hook_Angle>
      <!-- Option to reset flow after edit - Digitized, Role, None-->
      <Reset_Flow>Digitized</Reset_Flow>

    </AddLateralDetails>
    <AddLateralDetails Name="Sewer Service to Mains">
      <Point_LayerName>Sewer Service Connections</Point_LayerName>
      <MainLine_LayerName>Sewer Gravity Mains</MainLine_LayerName>
      <LateralLine_LayerName>Sewer Lateral Lines</LateralLine_LayerName>
      <LateralLine_EditTemplate>6" Vitrified Clay Sewer Lateral Line</LateralLine_EditTemplate>

      <FromToFields>
        <!--XML Array of From/To Fields to copy from the Main to the Point-->
        <FromToField>
          <!-- The field in main that contains the attribute you want to apply to the point, 
        this can be left blank or removed-->
          <SourceField>FACILITYID</SourceField>
          <!-- A field in the point layer that can be populated with a value from the main
        this can be removed or left blank-->
          <TargetField>LOCDESC</TargetField>
          <!-- A prefix that can be applied to the value extracted from the main
        and applied to the point
        this can be left blank -->
          <Prefix>PipeID:</Prefix>
        </FromToField>
        <!-- Repeat-->

      </FromToFields>
      <LateralLine_StartAtMain>false</LateralLine_StartAtMain>
      <DeleteExistingLines>true</DeleteExistingLines>
      <TolerenceForDelete>.5</TolerenceForDelete>
      <!--restrict searches by layer definition-->
      <SearchOnLayer>true</SearchOnLayer>
      <!--The distance to search for the closest line from the point-->
      <SearchDistance>500</SearchDistance>
      <PointsAlong>
        <PointAlong>
          <LayerName>Sewer Clean Outs</LayerName>
          <EditTemplate>Cleanout with a Cover</EditTemplate>
          <Distance>5</Distance>
          <DistanceIsPercent>false</DistanceIsPercent>
          <!--Option to intersect a polygon layer and offset the point from the intersection point on the polygon boundary, -->
          <PolygonOffsetLayerName>OwnerParcel</PolygonOffsetLayerName>
          <!--To or the From Side of the intersection, the digitized direction of the lateral matters: Options - To or From-->
          <PolygonOffsetSide>From</PolygonOffsetSide>
          <!-- ends this layers configuration-->
        </PointAlong>
        <PointAlong>
          <LayerName>Sewer Taps</LayerName>
          <EditTemplate>Sewer Taps</EditTemplate>
          <Distance>100</Distance>
          <DistanceIsPercent>true</DistanceIsPercent>
          <!--Option to intersect a polygon layer and offset the point from the intersection point on the polygon boundary, -->
          <PolygonOffsetLayerName></PolygonOffsetLayerName>
          <!--To or the From Side of the intersection, the digitized direction of the lateral matters: Options - To or From-->
          <PolygonOffsetSide></PolygonOffsetSide>

        </PointAlong>
      </PointsAlong>
      <Dual_When_Two_Selected>true</Dual_When_Two_Selected>
      <Dual_When_Nearby>true</Dual_When_Nearby>
      <Dual_Max_Distance_When_Two_Selected>100</Dual_Max_Distance_When_Two_Selected>
      <Dual_Max_Distance_When_Nearby>30</Dual_Max_Distance_When_Nearby>
      <Dual_Option_Make_Square>false</Dual_Option_Make_Square>
      <Hook_DoglegDistance>10</Hook_DoglegDistance>
      <Hook_DistanceIsPercent>true</Hook_DistanceIsPercent>
      <!-- Option to reset flow after edit - Digitized, Role, None-->
      <Reset_Flow>Digitized</Reset_Flow>

    </AddLateralDetails>
    <!--Repeat for additional Layers-->
  </AddLateralsLayers>
  <!-- End Configuration Section for the Add Laterals Tool and Construction Tools, This is an XML array, so you can define any number of AddLateralDetails Entities -->


  <AddLateralFromMainPointLayers>
    <!-- Start of the Entry, the name is just for reference, not used or presented-->
    <AddLateralFromMainPointDetails Name="Taps And Mains">
      <!-- The Point layer to connect to the main through a lateral-->
      <Point_LayerName>Tap Points</Point_LayerName>

      <!-- the layer to look to connect to, the lateral will connect
      to this from the point-->
      <MainLine_LayerName>Sewer Gravity Mains</MainLine_LayerName>
      <!-- The line used to connect the point to the main-->
      <LateralLine_LayerName>Sewer Lateral Lines</LateralLine_LayerName>
      <!-- The Template to use to populate the attributes of the lateral line, 
      this can be removed or left blank and the user will be prompt for a template-->
      <LateralLine_EditTemplate>6" PVC Sewer Lateral Line</LateralLine_EditTemplate>

      <!---->
      <LateralLine_AngleDetails>
        <!--Field on the point that store the angle of the line to be created-->
        <AngleField>LATANGLE</AngleField>
        <!--Determines the type of the angle, as in degrees or position on the clock, options CLOCK or ANGLE-->
        <AngleType>CLOCK</AngleType>
        <!--Is the angle that is stored relative to the main line that the point falls on or is it a true angle of the line-->
        <AddAngleToLineAngle>true</AddAngleToLineAngle>
        <!--The field that stores the direction that the angle was calculated from-->
        <DirectionField>ORIENTATION</DirectionField>
        <!--The value if the angled was calculated from the End going toward the Start on the main line-->
        <LookingUpstreamValue>U</LookingUpstreamValue>
        <!--The value if the angled was calculated from the Start going toward the end on the main line-->
        <LookingDownstreamValue>D</LookingDownstreamValue>
        <!--Option to draw the lateral perpendicular, regardless of angle-->
        <OnlyPerp>true</OnlyPerp>
        <!--Field on the point that determines the length of the lateral-->
        <LengthField>LATLENGTH</LengthField>
      </LateralLine_AngleDetails>
      <!---->

      <!-- Determines the direction to draw the main, flow is set with digitized direction
      this affects the distance set in the point along sections below, 
      that is from the start of the main-->
      <LateralLine_StartAtMain>true</LateralLine_StartAtMain>

      <FromToFields>
        <!--XML Array of From/To Fields to copy from the Main to the Point-->
        <FromToField>
          <!-- The field in main that contains the attribute you want to apply to the point, 
        this can be left blank or removed-->
          <SourceField>FACILITYID</SourceField>
          <!-- A field in the point layer that can be populated with a value from the main
        this can be removed or left blank-->
          <TargetField>LOCDESC</TargetField>
          <!-- A prefix that can be applied to the value extracted from the main
        and applied to the point
        this can be left blank -->
          <Prefix>PipeID:</Prefix>
        </FromToField>
        <!-- Repeat-->
        <FromToField>
          <SourceField>INSTALLDATE</SourceField>
          <TargetField>INSTALLDATE</TargetField>
          <Prefix>PipeID:</Prefix>
        </FromToField>

      </FromToFields>



      <!--restrict searches by layer definition-->
      <SearchOnLayer>true</SearchOnLayer>

      <!-- This section allows you to create a series of points along the main, 
      it can be removed-->
      <PointsAlong>
        <!-- The entry for one point-->
        <PointAlong>
          <!-- The name of the layer to place, this must match the 
          layer name in the TOC-->
          <LayerName>Sewer Clean Outs</LayerName>
          <!-- The distance to place along the lateral, percent or feature units-->
          <Distance>5</Distance>
          <!-- Determines if the distance above is percent or feature units-->
          <DistanceIsPercent>false</DistanceIsPercent>
          <!-- The editor template used to fill in the attributes, this 
          can be removed or left blank and the user will be prompted for a template-->
          <EditTemplate>Cleanout with a Cover</EditTemplate>
          <!--Option to intersect a polygon layer and offset the point from the intersection point on the polygon boundary, -->
          <PolygonOffsetLayerName>OwnerParcel</PolygonOffsetLayerName>
          <!--To or the From Side of the intersection, the digitized direction of the lateral matters: Options - To or From-->
          <PolygonOffsetSide>From</PolygonOffsetSide>
          <!-- ends this layers configuration-->

        </PointAlong>
        <PointAlong>
          <!-- The name of the layer to place, this must match the 
          layer name in the TOC-->
          <LayerName>Sewer Service Connections</LayerName>
          <!-- The distance to place along the lateral, percent or feature units-->
          <Distance>100</Distance>
          <!-- Determines if the distance above is percent or feature units-->
          <DistanceIsPercent>true</DistanceIsPercent>
          <!-- The editor template used to fill in the attributes, this 
          can be removed or left blank and the user will be prompted for a template-->
          <EditTemplate>Service Connection</EditTemplate>
          <!--Option to intersect a polygon layer and offset the point from the intersection point on the polygon boundary, -->
          <PolygonOffsetLayerName></PolygonOffsetLayerName>
          <!--To or the From Side of the intersection, the digitized direction of the lateral matters: Options - To or From-->
          <PolygonOffsetSide></PolygonOffsetSide>
          <!-- ends this layers configuration-->

        </PointAlong>
        <!-- start of next layer, you can copy and repeat these sections for any 
        number of point layers-->

        <PointAlong>
          <LayerName>Sewer Taps</LayerName>
          <EditTemplate></EditTemplate>
          <Distance>0</Distance>
          <DistanceIsPercent>true</DistanceIsPercent>
        </PointAlong>
        <!--Repeat for additional Points-->
      </PointsAlong>

      <!-- Option to reset flow after edit - Digitized, Role, None-->
      <Reset_Flow>Digitized</Reset_Flow>


      <!-- End the config for one point to main with lateral config-->
    </AddLateralFromMainPointDetails>
  </AddLateralFromMainPointLayers>


</configuration>
