<?xml version="1.0" encoding="iso-8859-1"?>
<!--
 |  Version 3.1.17
 | Copyright 2018 ESRI
 |
 | Licensed under the Apache License, Version 2.0 (the "License");
 | you may not use this file except in compliance with the License.
 | You may obtain a copy of the License at
 |
 |    http://www.apache.org/licenses/LICENSE-2.0
 |
 | Unless required by applicable law or agreed to in writing, software
 | distributed under the License is distributed on an "AS IS" BASIS,
 | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 | See the License for the specific language governing permissions and
 | limitations under the License.
-->


<configuration>
  <Name>Attribute Assistant Release</Name>
  <appSettings>
   
    <!--Options for the Attribute Assistant-->
    <!--Option to turn on the AA on startup-->
    <add key="AttributeAssistant_EnabledOnStartUp" value="True" />
    <!--Option to turn on the AA on when editing is started-->
    <add key="AttributeAssistant_EnabledOnStartEditing" value="False" />
    <!--The name of the table that defines the functions for the Attribute Assistant-->
    <add key="AttributeAssistant_TableName" value="DynamicValue" />
    <!--The table used for Unique ID Generation-->
    <add key="AttributeAssistant_GenerateId_TableName" value="GenerateId" />
    <!--Activate the debug mode which writes a log file-->
    <add key="AttributeAssistant_Debug" value="false" />
    <!--Path to store the log file, do not include the file name.  The default location is %USERPROFILE%\ArcGISSolutions -->
    <add key="AttributeAssistant_Debug_Path" value="" />
    <!--Option to clear the last values between toggling it on and off-->
    <add key="AttributeAssistant_ClearLastValue" value="False" />
    <!--Option to clear the last value array when you switch a version-->
    <add key="AttributeAssistant_ClearLastValueStopEdit" value="False" />

    <!--The geocoder used by the AA for the Get_Address rule-->
    <add key="Geocoder" value="http://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/"/>
    
    <!--Field names in the Generate ID Table-->
    <add key="SequenceName" value="SEQNAME"/>
    <add key="SequenceCounter" value="SEQCOUNTER"/>
    <add key="SequenceInterval" value="SEQINTERV"/>

    <!--Option to delete features without AA processing related records. If True, delete operations will be much quicker when AA is enabled.-->
    <add key="BypassEditOperationCheck" value="True"/>

    <!--Option to call on create instead of On Change Geometry when a line or polygon is split using the Split Tool.-->
    <add key="OnCreateWhenSplit" value="False"/>
    <!--Option to call a stored procedure for generating the ID seq.-->
    <add key="GenerateIDStoreProceName" value=""/>
    <!--Option to expose commented on AA prompts.-->
    <add key="ShowCommentsOnPrompt" value="False"/>
  </appSettings>
 
</configuration>
