<?xml version="1.0" encoding="utf-8"?>
<!--
 |  Version 6.14.16
 | Copyright 2016 Esri
 |
 | Licensed under the Apache License, Version 2.0 (the "License");
 | you may not use this file except in compliance with the License.
 | You may obtain a copy of the License at
 |
 |    http://www.apache.org/licenses/LICENSE-2.0
 |
 | Unless required by applicable law or agreed to in writing, software
 | distributed under the License is distributed on an "AS IS" BASIS,
 | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 | See the License for the specific language governing permissions and
 | limitations under the License.
-->


<configuration>
  <Name>Attribute Assistant Release</Name>
  <appSettings>
   
    <!--Options for the Attribute Assistant-->
    <!--Option to turn on the AA on startup-->
    <add key="AttributeAssistant_EnabledOnStartUp" value="True" />
    <!--The name of the table that defines the functions for the Attribute Assistant-->
    <add key="AttributeAssistant_TableName" value="DynamicValue" />
    <!--The table used for Unique ID Generation-->
    <add key="AttributeAssistant_GenerateId_TableName" value="GenerateId" />
    <!--Activate the debug mode which writes a log file-->
    <add key="AttributeAssistant_Debug" value="false" />
    <!--Path to store the log file, do not include the file name.  The default location is %USERPROFILE%\ArcGISSolutions -->
    <add key="AttributeAssistant_Debug_Path" value="" />
    <!--Option to clear the last values between toggling it on and off-->
    <add key="AttributeAssistant_ClearLastValue" value="False" />
    <add key="AttributeAssistant_CheckEnvelope" value="False" />

    <!--the geocoder used by the AA for the Get_Address rule-->
    <add key="Geocoder" value ="http://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/"/>
   
  </appSettings>
 
</configuration>
